<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607499492274-24s7bb02pat0nlb27pr253ojpd7fhhb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607499492274-24s7bb02pat0nlb27pr253ojpd7fhhb8</string>
	<key>API_KEY</key>
	<string>AIzaSyCvN8N_PT5kUHUgxl6T0ga26kVPuo0R_9s</string>
	<key>GCM_SENDER_ID</key>
	<string>607499492274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flipdigitals.cardvest</string>
	<key>PROJECT_ID</key>
	<string>cardvest-ed2b7</string>
	<key>STORAGE_BUCKET</key>
	<string>cardvest-ed2b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607499492274:ios:a19b7887253192e30ae2ab</string>
</dict>
</plist>