<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>org.app.Cardvest</key>
		<string>CardVest V2</string>
	</dict>
	<key>signingCertificate</key>
	<string>2391ACF2DCFE4807DBC0BADF57500E0972514687</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>ZG9LQXP6RV</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
